@import '~bootstrap/dist/css/bootstrap.min.css';
/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

body {
  background: #e4e5e6;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
  font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Temperory workaround for availity-reactstrap-validation */
.invalid-feedback {
  display: inline;
}

/* other generic styles */

.jh-card {
  padding: 0% 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.preserve-space {
  white-space: pre-wrap;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
  text-overflow: ellipsis;
}
.alert pre {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}

.alert .popover pre {
  font-size: 10px;
}

.alerts .toast {
  position: fixed;
  width: 100%;
}

.alerts .toast.left {
  left: 5px;
}

.alerts .toast.right {
  right: 5px;
}

.alerts .toast.top {
  top: 55px;
}

.alerts .toast.bottom {
  bottom: 55px;
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > dt {
    margin-bottom: 15px;
  }

  .row.jh-entity-details > dd {
    border-bottom: 1px solid #eee;
    padding-left: 180px;
    margin-left: 0;
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
  cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
  border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
  outline: none;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

/* custom */
.padded-container {
  margin-top: 50px;
  padding-top: 0px;
  margin: 0;
  padding: 0;
}
.navbar span {
  color: #006fcf;
  font-family: Helvetica Neue, Roboto, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
.home-banner {
  width: 100%;
  /*height: 100vh;*/
  background-image: linear-gradient(#2c5ea2, #2e70c8);
  padding: 5% 10%;
  margin: 0;
  color: white;
}

.projects-container {
  padding: 2% 5%;
}

.login-container {
  /*padding-top:50px;!**!*/
  width:25%;
  background:#F7F8F9;
  padding:20px;
  color:#2E2E2E;
  float: left;
}

.login-option {
  padding:10px 0px;
}
.login-options, .login-options a{
  color: #006fcf;
  /*font-family: Helvetica Neue, Roboto, Helvetica, sans-serif;*/
  -webkit-font-smoothing: antialiased;
}
.login-button {
  width:100%;
  margin-top:30px;
  height:50px;
  display: flex;
}

.banner-container {
  display: inline-block;
  width: 100%;
  position:relative;
  margin-top:1em;
}

.banner-image-container {
  height: 100%;
  width: 70%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top:1em;
}

.banner-image {
  width: 100%;
  max-height: 100%;
  fill: green;
}

.search-project-container {
  padding-top: 10px;
}
.card-image {
  height:100px;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #2e70c8;
  color:white;
  border-radius: 50%;
  display:inline-block;
  margin-right:5px;
  float:left;
  text-align:center;
}
.dot p {
  margin-top:10px;
}

.card-languages, .card-participants {
  margin:10px 0;
}

.card-participants {
  width:100%;
  overflow:auto;
}

.projects-container-inner {
  width:100%;
}
.projects-current-container {
  max-height:400px;
  width:100%;
  overflow-y:scroll;
}

.project-explore-button {
  width: 50%;
  margin: 0 25%;
}

.projects-interest {
  position:absolute;
  right:1em;
  top:1em;
}

.projects-repo-url {
  color:#2E70C8;
  margin:0;
  font-weight:normal;
}
.projects-repo-url:hover {
  font-weight:normal;
  color:#2E70C8;
  text-decoration: underline;
}

.projects-current-container h5 {
  margin:0;
}

.projects-container-inner-skills-tag {
  float:left;
  margin-right:.5em;
}

.badge {
  margin-right:.25em;
}

.projects-interest {
  float:right;
}

.search-modal {
  max-width:85%;
}

.modal-search-bar {
  font-size:4em;
  width:100%;
  padding:1em;
}
